{% extends 'groups/group_base.html' %}

{% block pregroup  %}

<div class="col-md-4">
    <div class="content">
        {% if user.is_authenticated%} 
            <h4>Welcome back!!</h4>
            <a href="{% url 'posts:for_user' username=user.username  %}">
                @{{ user.username }}
            </a>
        {% endif %}
    </div>
    <h2>Groups</h2>
    <p>Welcome to groups page</p>
    <div >
        {% if user.is_authenticated %}
        <a href="{% url 'groups:create' %}">Create group</a>
        {% endif %}
    </div>
</div>

{% endblock  %}
{% block group_content %}

<div class="col-md-8">
    <div class="list-group">
        {% for group in object_list %}
            <a class="list-group-item" href="{% url 'groups:single' slug=group.slug%}">
                <h3 class="list-group-title">{{ group.name }}</h3>
                <div class="list-group-description">
                    {{ group.description|safe }}
                    <div class="row">
                        <div class="col-md-4">
                            {{group.members.count}}member{{ group.members.count|pluralize}}
                        </div>
                        <div class="col-md-4">
                            {{ group.posts.count }}post{{group.posts.count|pluralize}}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

</div>

{% endblock  %}
